<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/model3.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar">

    <a class="navbar-brand" href="#">

      CGPA PREDICTOR
    </a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Models
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/"  >Model 1</a></li>
        <li><a class="dropdown-item" href="/2" >Model 2 </a></li>
        <li><a class="dropdown-item" href="/3" >Model 3 </a></li>
      </ul>
    </div>
  </nav>
  <h3 class="heading">MODEL 3</h3>

  <form method="post" action="/3" id='main'>

    <div class="container-fluid">
        <div class="row g-3" id="aa">
          <div class="col">
            <input type="text" class="form-control" placeholder="PH-121" name="PH-121">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="HS-101" name="HS-101">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="CY-105	" name="CY-105">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="HS-105/12" name="HS-105/12">
          </div>
        </div>
        <div class="row g-3" id="aa">
          <div class="col">
            <input type="text" class="form-control" placeholder="MT-111" name="MT-111">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="CS-105	" name="CS-105">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="CS-106" name="CS-106">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="EL-102" name="EL-102">
          </div>
        </div>
        <div class="row g-3" id="aa">
          <div class="col">
            <input type="text" class="form-control" placeholder="EE-119	" name="EE-119">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="ME-107	" name="ME-107">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="CS-107" name="CS-107">
          </div>
          <div class="col">
              <input type="text" class="form-control" placeholder="HS-205/20" name="HS-205/20">
            </div>
        </div>
  
        <div class="row g-3" id="aa">
          <div class="col">
            <input type="text" class="form-control" placeholder="MT-222" name="MT-222">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="EE-222" name="EE-222">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="MT-224	" name="MT-224">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="CS-210" name="CS-210">
          </div>
        </div>
        <div class="row g-3" id="aa">
          <div class="col">
            <input type="text" class="form-control" placeholder="CS-211" name="CS-211">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="CS-203	" name="CS-203">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="CS-214" name="CS-214">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="EE-217" name="EE-217">
          </div>
        </div>
        <div class="row g-3" id="aa">
          <div class="col">
            <input type="text" class="form-control" placeholder="CS-212" name="CS-212">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="CS-215	" name="CS-215">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="MT-331" name="MT-331">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="EF-303	" name="EF-303">
          </div>         
  
      </div>
      <div class="row g-3" id="aa">
        <div class="col">
          <input type="text" class="form-control" placeholder="HS-304" name="HS-304">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="CS-301" name="CS-301">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="CS-302	" name="CS-302">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="TC-383" name="TC-383">
        </div>
      </div>
      <div class="row g-3" id="aa">
       
        <div class="col">
          <input type="text" class="form-control" placeholder="EL-332	" name="EL-332">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="CS-318" name="CS-318">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="CS-306" name="CS-306">
        </div>
      </div>
      <div class="row g-3" id="aa">
        <div class="col">
          <input type="text" class="form-control" placeholder="CS-312" name="CS-312">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="CS-317	" name="CS-317">
        </div>
               

    </div>
    </div>
    <div class="b">
      <button type="submit" class="btn btn-outline-secondary">PREDICT</button>
    </div>

  </form>
 
  <h4 class="gpa">PREDICTED CGPA IS : <%= dataToSend %></h4>
  


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>


</body>

</html>